body {
    background-color: rgb(21, 29, 177);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;

    margin-top: 5vh;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;

    margin-top: 2vh;
    margin-bottom: 5vh;
    max-width: 70%;
}

h3 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
}
.cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 150px;
}

.container {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}
#nota {
    width: 40%;
    padding: 10px;

    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#aluno {
    width: 80%;
    padding: 10px;

    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#btnAdicionar {
    width: 40%;
    padding: 10px;
    margin-top: 60px;
    font-size: 16px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    cursor: pointer;
}

#listaNotas {
    width: 90%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0px;
}

#listaNotas li {
    font-family: 'Arial', sans-serif;
    list-style: none;
}

#media {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 400px;
    height: 550px;
    overflow: auto;
}

#btnLimpar {
    width: 30%;
    margin-top: 60px;
   
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(255, 26, 26);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .container, #media {
        width: 90%;
        height: 200px;
    }
}
